
.container {
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 2px;
}

.col-6 {
    max-width: 600px;
}

h4 {
    margin-top: 0;
}

.et-profile-row {
    margin-top: 10px;
}

.et-profile-label {
    margin-bottom: 0;
}

.et-profile-icon {
    width: 50px; 
}

.btn {
    cursor: pointer;
    margin-right: 5px;
}

.custom-file-input {
    width: 200px; 
    height: 40px; 
    border-radius: 5px; 
    padding: 5px; 
}

/* .post-button {
    font-family: Arial, sans-serif;
    cursor: pointer;
    margin-right: 5px;
    background-color: #76ce79;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: coolEffect 0.5s ease-in-out;
  } */