/* for each post card component */
.card.et-post-cards{
    min-width:300px;
    max-width:300px;
    min-height:300px;
    max-height:350px;
    text-decoration: none;
    margin:10px;
}

.bg-image.hover-overlay{
    max-height: 200px;
    min-height:200px;
}

.card.et-post-cards:hover{
    color:black;
}
.card-title:hover{
    color:black;
    text-shadow: 2px 2px 4px #4CAF50;
}