.headbar {
    width: 50px;
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid grey;
}
.new-nav {
    padding-top: 10px;
}

/* Hypnos Edits: shortened the height of the headbar */
.navbar {
    --bs-navbar-padding-y: unset !important;
}

.navbar-brand {
    margin-left: 30px;
}

.new-photo {
    margin-right: 30px;
}

.form-control.rounded {
    width: 40%;
}

.input-group.rounded {
    width: 500px;

}

.top-section {
    color: black;
    background-color: #76ce79;
    /* 顶部部分的背景颜色 */
    padding: 10px;
    text-align: center;
    /* border:  5px solid #b2b0b0; */
    border-radius: 20px;
    margin-top: 25px;
    transition: background-color 0.3s;
    animation: coolEffect 0.5s ease-in-out;
}

/* 顶部部分按钮的样式 */
/* .top-section  */


.post-button {
    background-color: #76ce79;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: none;
    padding: 10px 20px;
    /* margin: 10px 0; */
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
    transition: background-color 0.3s;
    animation: coolEffect 0.5s ease-in-out;
}

.signin-photo {
    background-color: #76ce79;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: none;
    padding: 10px 20px;
    /* margin: 10px 0; */
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
    transition: background-color 0.3s;
    animation: coolEffect 0.5s ease-in-out;
}

.nav-link {
    margin-right: 0px;
}

.text-reset {
    margin-right: 30px;
}

.dropdown {
    margin-left: 0px;
    margin-right: 30px;
}

.form-control.headbar-icon {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 15px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 0px;
}

.form-control.search-btn {
    background-color: #F5F5F5;
    width: 80px;
    margin: 15px;
    margin-right: 450px;
    padding: 0px;
    height: 30px;
}

.form-control.login-btn {
    background-color: #F5F5F5;
    width: 80px;
    margin: 15px;
    padding: 0px;
    height: 30px;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: 0.125rem solid #00b74a;
    border-bottom: 0.125rem solid #00b74a;
    border-left: 0.125rem solid #00b74a;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-color: #00b74a;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: 0.125rem solid #00b74a;
    border-bottom: 0.125rem solid #00b74a;
    border-right: 0.125rem solid #00b74a;
}

.form-outline .form-control:focus~.form-label {
    color: #00b74a;
}

.autocomplete-input.focused~.form-notch .form-notch-leading {
    border-top: 2px solid #00b74a;
    border-bottom: 2px solid #00b74a;
    border-left: 2px solid #00b74a;
    transition: all 0.2s linear;
}

.autocomplete-input.focused~.form-notch .form-notch-middle {
    border-color: #00b74a;
}

.autocomplete-input.focused~.form-notch .form-notch-trailing {
    border-color: #00b74a;
}

.autocomplete-input.focused~.autocomplete-label {
    color: #00b74a;
}