.form-control.et-profile-icon{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin:0px;
    padding:0px;
}
.form-control.et-profile-icon-options{
    width:120px;
    height:120px;
    border-radius: 50%;
    margin:0px;
    padding:0px;
    box-shadow: 3px 2px 4px 1px gray;
}
p.et-profile-label{
    margin:0px;
    padding:0px;
    font-weight: bold;
}
.form-control.et-upload-btn{
    width:70px;
    margin:0px;
    padding:0px;
    height:40px;
}
.et-profile-row{
    width:70%;
    margin-bottom: 10px;
    margin-top:10px;
}

#et-personal-bio{
    height:150px;
}
#et-username-input{
    max-width:60%;
}
